
*{
    margin: 0;
    padding: 0;
}
#pop{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#pop-main{
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#pop-content{
    padding: 8px;
    position: relative;
}
#closeWin{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
    font-style: normal;
    font-size: 50px;
    background: url("image/iconfont-guanbi.png") no-repeat;
    background-size: 100%;
}